body{
    background: radial-gradient(#1b1a1b, #413f40);
    padding: 10px;
    margin: 20px;
    font-family: 'Manufacturing Consent', Monospace;
    color: #9edaf0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2{
    text-align: center;
    margin-bottom: -5px;
    text-shadow: 4px 6px 2px #1e00ff;
    font-family: 'Manufacturing Consent', Monospace;
    font-size: 100px;
    transform: skew(-10deg);
}

h3{
    text-align: center;
    margin-bottom: -25px;
    text-shadow: 4px 6px 2px #1e00ff;
    font-family: 'Manufacturing Consent', Monospace;
    font-size: 40px;
    transform: skew(-10deg);
}

h1:hover, h2:hover, h3:hover{
    color:#0080ff;
    transition: color 2s;
}

p{
    background-color: #1e1e1ea7;
    padding: 10px;
    text-align: center;
    font-family: Monospace;
    font-style: italic;
    font-size: 16px;
    line-height: 1.6
}

div{
    background-color: #1e1e1ea7;
    text-align: center;
    font-family: Monospace;
    font-size: 16px;
    line-height: 1.6
}

ul{
    background-color: #1e1e1ea7;
    border-width: 1px;
    border-color: #9edaf0;
    border-style: dotted dotted dashed dashed;
    padding: 60px;
    margin: 10px 20px 10px 20px;
    text-align: left;
    font-family: Monospace;
    font-size: 16px;
    line-height: 1.6;
}

ol{
    background-color: #1e1e1ea7;
    padding: 50px;
    margin: 10px 20px 10px 20px;
    font-family: Monospace;
    font-size: 16px;
    line-height: 1.6;
}

.flex-container{
    display: flex;
}

.flex-child{
    flex: 1 1 0;
}

hr{
    margin: 80px;
}

img{
    transform: rotate(-30deg);
    margin: 60px;
}

a{
    color: #b7b6ff;
}
a:hover{
    color: #5351ff;
}

footer{
    text-align: center;
}
